/* 
========================
general css  start
========================
*/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}


/* 
=======================
navbar css  start
=======================
*/
.nav-options a{
font-size: 1.1rem;
}


/* 
=======================
navbar css  end
=======================
*/









/* 
=======================
general css  end
=======================
*/
/* 
=======================
general css  end
=======================
*/
/* 
=======================
general css  end
=======================
*/
/* 
=======================
general css  end
=======================
*/













